{#<footer data-aos="zoom-in" data-aos-duration="1000" class="footer">
	<div class="footer_desc ">
		<p>Alejandro Santos</p>
		<p>
			Tel 1.: 098 861 283</p>
		<p>
			Correo.: rusticosnandereko@gmail.com</p>
		<p >Sitio desarrollado por Santiago Santos</p>
	</div>
	<img class="img_footer" src="/imagenes/footer.png" alt="" width="100%">
</footer>
#}

<footer style="margin-top: 124px;position: relative; z-index: 0; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;">
	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-lg-3 footer-about wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
					<img class="logo-footer" src="/imagenes/logo.jpeg" alt="logo-footer" style="width: 75px;" width="100%">
					<p class="titulo_font">
						Taller Ñanderekó
					</p>
					<p>Somos un taller artesanal, trabajamos la madera desde hace 30 años, creando principalmente muebles, pero también elementos decorativos y piezas de arte.</p>
				</div>
				<div class="col-md-4 col-lg-4 offset-lg-1 footer-contact wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
					<h3>Contacto</h3>
					<p>
						<i class="fa fa-user"></i>
						Alejandro Santos
					</p>
					<p>
						<i class="fa fa-phone"></i>
						Tel: 098 861 283
					</p>
					<p>
						<i class="fa fa-envelope"></i>
						rusticosnandereko@gmail.com
						<a href="mailto:hello@domain.com"></a>
					</p>
				</div>
				<div class="col-md-4 col-lg-4 footer-links wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
					<div class="row">
						<div class="col">
							<h3>Redes</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<p>
								<i class="fa fa-instagram"></i>
								<a target="_blank" class="scroll-link" href="https://www.instagram.com/tallernandereko/">Instagram</a>
							</p>
							<p>
								<i class="fa fa-facebook-square"></i>
								<a target="_blank" class="scroll-link" href="https://www.facebook.com/taller.nandereko/">Facebook</a>
							</p>
							<p>
								<a target="_blank" class="scroll-link" href="#">Mercado libre</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
	        	<div class="container">
	        		<div class="row">
	           			<div class="col-md-6 footer-copyright">
	                    	Sitio desarrollado por Santiago Santos
	                    </div>
	           			<div class="col-md-6 footer-social">
	                    	<p><i class="fa fa-envelope"></i></a> </i>  santoscastelvi2014@gmail.com</p> 
	                    </div>
	           		</div>
	        	</div>
	        </div>
	<div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 100%; width: 100%; z-index: -999998; position: absolute;">
		<img style="position: absolute; margin-top: -226px;filter: blur(3px);" src="/imagenes/Horizonte.png">
	</div>
</footer>
